/*PORTFOLIO*/
/*body*/
body{
  font-family: "Roboto", sans-serif;
}
  body{
    color: #434455;
    background-color: #FFFFFF;
  }
/*logo*/
/*.logo{
  font-family: 'Raleway', sans-serif
}*/
h3 {
  margin: 0px;
}
p {
  margin: 0px;
}






/*===========HEADER==========*/
.header-class {
height: 72px;
}

.logo{
  font-family: "Raleway",sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.class-span{
  color: #f4f4fd;
}

.class-spanhead{
  color: #2e2f42;
}

/*NAV*/

.naw-header-index {
  display: flex;
  align-items: center;
margin-right: auto;
}

.ul-header-index {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 76px;
}


.addres_header {
    display: flex;
      align-items: center;
      gap: 40px;

}
/*---DIV KONTENER HEADER---*/

.header-div {
display: flex;
align-items: center;
}

/*---adress-header---index---*/
.addres_header {

}

/*---ul-adress-header---*/
.ul-adress-header {
display: flex;
align-items: center;
    gap: 40px;
}

/*---logo-header---*/
.logo-header {
  margin-left: 156px;
}

.mail{
    font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.02em;
color: #434455;
      font-style: normal;
}
/*нижнее подчеркивание*/
.link{
text-decoration: none;
}
/*toczka v spiske*/
.list{
  list-style: none;
}

.link:hover{
  color: #404bbf;
}
.link:focus{
  color: #404bbf;
}


/*addres_header*/
.addres_header{
  font-style: normal;
}


.mail:hover{
  color: #404bbf;
}
.mail:focus{
  color: #404bbf;
}
                      /*1 ul*/


.filters{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #F4F4FD;
  cursor: pointer;
}
.filters:hover{
  color: #FFFFFF;
  background-color: #404BBF;
}
.filters:focus{
  color: #FFFFFF;
  background-color: #404BBF;
}


/*================SEKCIA=======1===================*/
/*---section---1---*/
.sectionindex {
}

/*---div---*/
.div-section-one {
display: flex;
flex-direction: column;
align-items: center;
}

/*---H1---*/
.h-one-section {
  margin: 0;
  width: 496px;
}

/*---KNOPKA-">Order Service---*/
.buttonorder {
  margin-top: 48px;
  width: 169px;
  height: 56px;
}

/*=================SEKCIA---2==================*/

/*---sekcia-2---*/
.sectiontwoindex {
  width: 1440px;
padding-top: 120px;
padding-bottom: 120px;
padding-left: 156px;
}

/*---H2---*/
.hsection {
position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*---div---*/
.div-section-two {
  display: flex;
}

/*---UL---*/
.list-section-two {
  width: 1128px;
  margin: 0px;
  padding: 0px;
display: flex;
gap: 24px;
}

/*---1-LI---*/
.li-one {
}
/*---H3---*/
.h-li-one {
  margin: 0px;

}

/*---P---*/
.p-our-goal {
  margin-top: 8px;
  margin-bottom: 0px;
}

/*---2-LI---*/

/*---H3---LI_2---*/
.h-li-two {
  margin: 0px;
}

/*---P-LI-2---*/
.p-bring-the {
  margin-top: 8px;
  margin-bottom: 0px;
}

/*---3-LI---*/

/*---H3---LI-3---*/
.h-three-li {
margin: 0px;
}

/*---P-LI_3---*/
.p-li-three {
  margin-top: 8px;
  margin-bottom: 0px;
}

/*---LI_4---*/

/*---H3-LI-4---*/
.h-li-three {
  margin: 0px;
}

/*---P-LI_4---*/
.p-design {
  margin-top: 8px;
  margin-bottom: 0px;
}

/*=================SEKTION---3===========*/

/*---SEKCTION-3---*/
.sectionthreeindex {
width: 1440px;
padding-bottom: 120px;
padding-left: 156px;
padding-right: 156px;
}

/*---DIV---*/

/*---H2----*/
.h-section-three {
  margin: 0px;
}

/*---UL-section-3---*/
.ul-section-three {
  margin: 0px;
  margin-top: 72px;
  display: flex;
  width: 1128px;
}


/*===============SECTION-4============*/

.sectionfourindex {
  width: 1440px;
  padding-top: 120px;
  padding-bottom: 120px;
}

/*---DIV---*/

.div-four-section {
  width: 1440px;
  display: flex;
flex-direction: column;
align-items: center;
}

/*---H2-SECTION-4---*/
.h-ourteam {
  margin: 0px;
}

/*---UL-SECTION-4---*/
.ul-section-four {
margin-top: 72px;
display: flex;
gap: 24px;
}

/*---VSE H V sekcii 4---*/
.sectionthree-h {

}

/*---VSE P V SEKCII 4---*/
.p-section-four {
  margin-top: 8px;
}

.sectionfour-li {
  display: flex;
  flex-direction: column;
align-items: center;
}


/*=============FOOTER==================*/

.fon-footer {
  width: 1440px;
  height: 312px;
  padding-top: 100px;
  padding-bottom: 100px;
}

/*------DIV FOOTER---*/
.div-footer {
  box-sizing: border-box;

}
.footer-div {
  width: 264px;
    margin-left: 156px; 
}

/*---footer text---*/
.footer-text {
  margin-top: 16px;

}

/*---Footer logo---*/
.logo-footer {
}
/*==========================================*/

/*sekcia 1 h*/
.list-twoh{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.small-text{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*footer*/
.fon-footer{
  background-color: #2e2f42;
}
/*spisok 1 sekcia*/

/*PORTFOLIO*/

/*INDEX.HTML*/
.index-link{
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-link{
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts-link{
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.sectionindex{
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  width: 1440px;
}
.hhindex{
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.buttonorder{
  background-color: #4D5AE5;
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.buttonorder:hover{
  background-color: #404BBF;
}
.buttonorder:focus{
  background-color: #404BBF;
}
.sectiontwoh{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
color: #2e2f42;
}
.sectiontwo-p{
  font-size: 16px;
  line-height: 1.5;
letter-spacing: 0.02em;
  color: #434455;
}
/*3 sekcia*/
.sectionthreeindex{
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42 ;
  text-transform: capitalize;
}

.section-threeh{
font-weight: 500;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
color: #2e2f42;
text-transform: capitalize;
}
.sectionfourindex{
background-color: #F4F4FD;
}

.section-index{
  background-color: #F4F4FD;

}
.sectionfour-li{
  background-color: #FFFFFF;
}
/*zagolovok 4 sekcia h3*/
.sectionthree-h{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/*h2 section 4 */
.section-four{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

:root {
  css declarations;
}

.container {
  width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  margin-right: 0px;
}


/*==================PORTFOLIO======================*/

/*---section-1-portfolio---*/
.sectiononeportfolio {
width: 1440px;
}

/*---DIV 1 PORTFOLIO---*/
.div-one-portfolio {
  padding-top: 96px;
  padding-bottom: 76px;
}

/*---UL---1---PORTFOLIO---*/
.ul-filters {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 0px;
  padding: 0px;
}

/*---UL--2---portfolio---*/
.div-one-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 48px;
flex-basis: calc((100% - 10px) / 3);
  padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}